@charset "utf-8";
/* CSS Document */
:root {
	color-scheme: light dark;
}
.hero {
	background-image: linear-gradient(red, light-dark(white, black));
	background-size: cover;
	color: light-dark(black, white);
	padding: 100px 0;
	text-align: center;
}
.card {
	margin: 20px 0;
}