@charset "utf-8";
/* CSS Document */
.hero {
	background-image: linear-gradient(red, black);
	background-size: cover;
	color: white;
	padding: 100px 0;
	text-align: center;
}
.card {
	margin: 20px 0;
}