.register-container {
    margin-top: 5rem;
    background-color: transparent;
}

.card {
    margin: 20px 0;
    background-color: transparent;
}

/* Float element as per assignment */
.register-container::after {
    content: "Group 7";
    float: right;
    font-size: 1.2rem;
    color: #a72828;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}